body, html {
	max-width: 1170px;
	min-width: 1170px;
	margin: auto;;
}

.navbar {
	max-width: 1170px;
	min-width: 1170px;
	height: 40px;
	margin: auto;
	border: solid 2px red;
}

.nav-item {
	display: flex;
	flex-direction: column; 
}

.nav-link {
	font-size: 16px;
	color: #ffffff;
	font-family: "Proxima Nova";
	font-weight: bold;
}

input#search {
    background-image: url(../images/mg.png);
    background-position: 150px; 
    background-repeat: no-repeat;
    text-indent: 20px; 
    border: 0;
    font-size: 16px;
	color: #111111;
	font-family: "Proxima Nova";
	font-weight: 300;
	width: 177px;
	height: 27px;
	border-radius: 14px;
	background-color: #ffffff;
}

.bgimg1 {
	background-image: url("../images/background.png");
	background-size:100%;
	width: 1920px;
	height: 680px;
	min-width: 1170px;
	max-width: 1170px;
	min-height: 700px;
	text-align: center;
	vertical-align: middle;
	margin: auto;
	display: table-cell;
	position: relative;
}

h1 {
	font-size: 55px;
	color: #ffffff;
	margin-bottom: 20px;
	font-family: "Montserrat";
	font-weight: bold;
	text-align: center;
	text-shadow: 21.5px 37.239px 5px rgba(0,0,0,0.18);
}

.section-2 {
	height: 577px;
}

.sec-2-header {
	margin-top: 30px;
	text-align: center;
	margin-bottom: 100px;
}

.sec-2-title-p {
	font-size: 16px;
	color: #b7b3b3;
	font-family: "Open Sans";
	font-weight: 300;
	text-align: center;
}

.section-2-title {
	font-size: 20px;
	letter-spacing: 4px;
	color: #828181;
	font-family: "Montserrat";
	font-weight: 300;
	text-align: center;
}

.section-3-title {
	font-size: 20px;
	letter-spacing: 4px;
	color: #207b20;
	font-family: "Montserrat";
	font-weight: 300;
	text-align: center;
}

h5 {
	font-size: 24px;
	color: #828181;
	font-family: "Proxima Nova";
	font-weight: bold;
	text-align: center;
	padding: 10px;
}

.rectangle {
  	width: 43px;
	height: 2px;
	background-color: #828181;
	margin: 0 auto;
}

.rectangle-2 {
	width: 43px;
	height: 2px;
	background-color: #207b20;
	margin: 0 auto;
}

.rectangle-3 {
	width: 30px;
	height: 2px;
	background-color: #dddddd;;
	margin: 0 auto;
}

.scroll-down-button {
	position: absolute;
	border: 0;
	bottom: 5%;
	left: 45%;
	font-size: 16px;
	color: #111111;
	font-family: "Proxima Nova";
	font-weight: 300;
	text-align: center;
	width: 120px;
	height: 25px;
	border-radius: 13px;
	background-color: #ffffff

}

.arrow-down {
	width: 7px;
	height: 10px;
}

.work-with-us {
	border: 0;
	font-size: 22px;
	color: #ffffff;
	font-family: "Proxima Nova";
	text-align: center;
	width: 208px;
	height: 47px;
	border-radius: 23px;
	background-color: #54d154;
	padding: 10px;
	box-shadow: -10px 10px 5px rgba(0,0,0,0.18);
}

.section-3 {
	background-color: #54d154;
	height: 748px;
	text-align: center;
}

.sec-3-header {
	padding-top: 30px;
	text-align: center;
}

.sec-3-title {
	font-size: 20px;
	letter-spacing: 4px;
	color: #207b20;
	font-family: "Montserrat";
	font-weight: 300;
	text-align: center;
}

.sec-3-title-p {
	font-size: 16px;
	color: #2b9b2b;
	font-family: "Open Sans";
	font-weight: 300;
	text-align: center;
	margin-bottom: 50px;
}

.container {
	min-width: 1170px; 
	text-align: center;
	margin: auto;
}

.col-xs-4 {
	min-width: 33.333333%;
	font-size: 16px;
	color: #b7b3b3;
	font-family: "Open Sans";
	font-weight: 300;
	text-align: center;
}

.btn-group {
	margin-bottom: 30px;
}

.btn-photo {
	width: 128px;
	height: 31px;
}

.btn-design {
	width: 90px;
	height: 31px;
}

.btn-print {
	width: 70px;
	height: 31px;
}

.btn {
	border: solid 1px #2b9b2b;
	border-radius: 16px;
	background-color: white;
	line-height: 1;
	font-size: 16px;
	color: #2b9b2b;
	font-family: "Proxima Nova";
}

.btn:focus {
	color: white;
	box-shadow: none;
	background-color: #2b9b2b;
}

.learn-more-button  {
	border: 0;
	font-size: 16px;
	color: #ffffff;
	font-family: "Proxima Nova";
	font-weight: bold;
	text-align: center;	
	font-size: 16px;
	width: 120px;
	height: 30px;
	border-radius: 15px;
	background-color: #54d154;
}

.view-more-button {
	background-color: #2b9b2b;
	border: 0;
	line-height: 1;
	margin-top: 40px;
	margin-bottom: 50px;
	font-size: 18px;
	width: 186px;
	height: 40px;
	border-radius: 20px;
	padding: 10px;
	font-size: 18px;
	color: #ffffff;
	font-family: "Proxima Nova";
	text-align: center;
}

.grid {
	margin: auto;
}

.grid-image {
	display: inline-block;
  	width: 15%;
  	height: 170px;
  	margin: 15px;
  	zoom: 1;  
  	display*:inline; 
}

.section-4 {
	margin: 5px;
	height: 342px;
	background-color: #ffffff;
	text-align: center;
}

.sec-4-header {
	margin-top: 30px;
	margin-bottom: 70px;
}

.section-4-title {
	font-size: 20px;
	letter-spacing: 4px;
	color: #828181;
	font-family: "Montserrat";
	font-weight: 300;
	text-align: center
}

.sec-4-title-p {
	font-size: 16px;
	color: #b7b3b3;
	font-family: "Open Sans";
	font-weight: 300;
	text-align: center;
}

.statement {
	width: 80%;
	margin: auto;
}

.left-arrow {
	padding-top: 20px;
}

.right-arrow {
	padding-top: 20px;
}

.testimonial-text {
	font-size: 16px;
	color: #444444;
	font-family: "Proxima Nova";
	text-align: center;
}

.client-container {
	display: flex;
	width: 250px;
	margin: auto;
}

.client-img-container {
}

.client-details-container {
	margin-left: 10px;
	height: 42px;
	text-align: left;
}

.client-img {
	width: 42px;
	height: 42px;
	border-radius: 21px;
	background-color: #ffffff;
	border: 2px solid #e1e1e1;
}

.client-name {
	margin-bottom: 0;
	width: 250px;
	font-size: 16px;
	color: #444444;
	font-family: "Proxima Nova";
}

.client-company {
	width: 250px;
	font-size: 16px;
	color: #cccccc;
	font-family: "Proxima Nova";
	font-weight: bold;
}

.section-5 {
	background-color: #f2f1f1;
	height: 497px;
	text-align: center;
}

.sec-5-header {
	margin-bottom: 70px;
}

.section-5-title {
	padding-top: 30px;
	font-size: 20px;
	letter-spacing: 4px;
	color: #828181;
	font-family: "Montserrat";
	font-weight: 300;
	text-align: center;
}

.sec-5-title-p {
	font-size: 16px;
	color: #b7b3b3;
	font-family: "Open Sans";
	font-weight: 300;
	text-align: center;
}

.col-xs-3 {
	width: 20%;
	margin: auto;
	margin-bottom: 50px;
}

.all-client-button {
	width: 186px;
	height: 40px;
	border: 0;
	margin-top: 20px;
	border-radius: 20px;
	background-color: #dddcdc;
	font-size: 18px;
	color: #a59d9d;
	font-family: "Proxima Nova";
	text-align: center;
}

.shape2 {
	padding-left: 20px;
}

.section-6 {
	height: 552px;
	background-color: #54d154;
}

.sec-6-title {
	padding-top: 30px;
	font-size: 20px;
	letter-spacing: 4px;
	color: #207b20;
	font-family: "Montserrat";
	font-weight: 300;
	text-align: center;
}

.sec-6-title-p {
	font-size: 16px;
	color: #2b9b2b;
	font-family: "Open Sans";
	font-weight: 300;
	text-align: center;
}

.sec-6-footer {
	height: 94px;
	background-color: #3eba3e;
	text-align: center;
}

.work-with-us-2 {
	margin-top: 30px;
	font-size: 19px;
	color: #ffffff;
	border:0;
	font-family: "Proxima Nova";
	font-weight: 300;
	text-align: center;
	width: 175px;
	height: 40px;
	border-radius: 20px;
	box-shadow: 2.5px 4.33px 5px rgba(0,0,0,0.1);
	background-color: #54d154
}

.team-container {
	width: 80%;
	height: auto;
	margin: auto;
	padding-top: 30px;
	display: flex;
}

.team-member {
	text-align: center;
	width: 20%;
}

.avatar {
	width: 124px;
	height: 124px;
	border-radius: 62px;
	background-color: #ffffff;
	text-align: center;
}

.shape5 {
	display: flex;
   	flex-direction: column;
   	margin: auto;
   	padding-top: 10px;
   	padding-bottom: 10px;
}

.member-name {
	font-size: 16px;
	color: #ffffff;
	font-family: "Proxima Nova";
	text-align: center;
}

.rounded-rectangle {
	width: 84px;
	height: 28px;
	border-radius: 14px;
	background-color: white;
	margin: auto;
	display: flex;
   	flex-direction: row;
}

.rounded-rectangle > img {
	margin: 4px;
}

.twitter {
	width: 20px;
	height: 20px;
	border-radius: 10px;
}

.be {
	width: 20px;
	height: 20px;
	border-radius: 1px;
}

.ball {
	width: 20px;
	height: 20px;
	border-radius: 10px;
}

.section-7 {
	height: 480px;
	background-color: #333333;
} 

#about-us-text {
	width: 316px;
	height: 253px;
	font-size: 16px;
	padding-top: 20px;
	color: #cccccc;
	font-family: "Proxima Nova";
	text-align: center;
	margin: auto;
}

.col-title {
	padding-top: 20px;
	font-size: 16px;
	letter-spacing: 3px;
	color: #dddddd;
	font-family: "Montserrat";
	font-weight: 300;
	text-align: center;
}

.about-us-col {
	max-width: 33.3333%
	height: 571px;
}

#company-social-media {
	padding-top: 65px;
}

.recent-posts-col {
	max-width: 33.3333%;
}

.contact-us-col {
	max-width: 33.3333%;
}

.contact-us-text {
	padding-top: 20px;
	font-size: 14px;
	color: #cccccc;
	font-family: "Proxima Nova";
	font-weight: 300;
	text-align: center;
}

.contact-form {
	width: 334px;
	margin: auto;
	text-align: center;
}

.form-item {
	margin: 3px
}

#contact-name, #contact-email, #contact-message{
	font-size: 16px;
	height: 37px;
	color: #777777;
	border: 0;
	font-family: "Proxima Nova";
	background-color: #444444;
}

#contact-message{
	font-size: 16px;
	height: 130px;
	color: #777777;
	border: 0;
	font-family: "Proxima Nova";
	background-color: #444444;
}

.send-btn {
	border-radius:0px 0px 4px 4px;
	font-size: 14px;
	color: #ffffff;
	width: 329px;
	height: 40px;
	margin: auto;
	background-color: #2b9b2b;
	font-family: "Proxima Nova";
}

.posts {
	padding-top: 20px;
}

.post-container {
	display: flex;
	width: 250px;
	margin: auto;
	padding-bottom: 10px;
}

.post-text {
	margin: auto;
	font-size: 16px;
	color: #cccccc;
	font-family: "Montserrat";
	font-weight: 300;
	text-align: center
}

.post-details-container {
	margin-left: 5px;
}

.post-img {
	width: 53px;
	height: 53px;
	border-radius: 4px;
	background-color: #ffffff;
}

.magazine-rectangle, .uidesign-rectangle, .photo-rectangle, .book-rectangle {
	font-size: 12px;
	color: #ffffff;
	font-family: "Montserrat";
	font-weight: 300;
	text-align: center;
	border-radius: 3px;
}

.magazine-rectangle {
	width: 81px;
	height: 18px;
	background-color: #54d154;
}

.uidesign-rectangle {
	width: 77px;
	height: 18px;
	background-color: #ffba00;
}

.photo-rectangle {
	width: 107px;
	height: 18px;
	background-color: #089dea;
}

.book-rectangle {
	width: 47px;
	height: 18px;
	background-color: #f34d04;
}

.section-8 {
	width: 1171px;
	height: 148px;
	background-color: #222222;
}

.sec-8-title {
	font-size: 16px;
	letter-spacing: 3px;
	color: #101010;
	font-family: "Montserrat";
	font-weight: 300;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
}

.rectangle3 {
	width: 30px;
	height: 2px;
	background-color: #101010;
	margin:auto;
}

.footer {
	width: 1170px;
	height: 35px;
	background-color: #111111;
}

.footer-message {
	font-size: 16px;
	color: #ffffff;
	font-family: "Proxima Nova";
	text-align: center;
}




